:root {
    --espacamento-de-topo: 40px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #FFFFEA;
}

.container{
    margin-top: none;
    display: flex;
    width: 600px;
    height: 300px;
    border: 1px solid;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;

}

.img{
    height: 100%;
    width: 60%;
    background-color: rgb(156, 153, 153);

}


h1{
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: #E88873;
}

p{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-explorar{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px;
    
}

#btn-contato{
    background-color: white;
    color: black;
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px ;
    

}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    width: 600px;
    height: 22px;
    border: 1px solid;
}

.container2{
    margin-top: var(--espacamento-de-topo);
    display: flex;
    width: 600px;
    height: 200px;
    border: 1px solid;
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.img2{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 0, 0);

}

h2{
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: #E88873;
}

#paragrafo{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#btn-encomendar{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px;
    
}

#btn-saber-mais{
    background-color: white;
    color: black;
    padding: 6px 14px 6px 14px;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px ;}